<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">

<div class="card">
   <div class="banner">
      <div class="avatar"></div>
   </div>
   <h3>Mamadou Dioulde Balde</h3>
   <a href="mailto:contact@webdevtrick.com">Email: contactmail.com</a>
   <a href="">Telephone: 620-50-31-10</a>
   <ul>
      <a href="#" target="_blank"><i class="material-icons" style="font-size:16px">twitter</i></a>
      <a href="#" target="_blank"><i class="material-icons" style="font-size:16px">linkedin</i></a>
      <a href="#" target="_blank"><i class="material-icons" style="font-size:16px">instagram</i></a>
      <a href="#" target="_blank"><i class="material-icons" style="font-size:16px">facebook</i></a>
   </ul>
</div>
</div>
