<div class="container mb-4">
    <!-- Header Actions -->
    <div class="d-flex justify-content-between align-items-center p-3">
      <!-- Champ de Sélection -->
      <!-- <div class="demo-select">
        <label for="optionSelect">Choisissez une option</label>
        <select id="optionSelect" [(ngModel)]="selectedOption" (change)="onOptionChange($event)">
          <option *ngFor="let option of options" [value]="option.value">
            {{ option.viewValue }}
          </option>
        </select>
      </div> -->
    <div>
      <label class="custom-checkbox">
        <input type="checkbox" [(ngModel)]="isCheckedVoiture" (change)="onCheckboxChangeVoiture()" />
        <span class="checkmark"></span>
        {{ voiture }}
      </label>

      <label class="custom-checkbox">
        <input type="checkbox" [(ngModel)]="isCheckedMoto" (change)="onCheckboxChangeMoto()" />
        <span class="checkmark"></span>
        {{ moto }}
      </label>

      <label class="custom-checkbox">
        <input type="checkbox" [(ngModel)]="isCheckedCamion" (change)="onCheckboxChangeCamion()" />
        <span class="checkmark"></span>
        {{ camion }}
      </label>
    </div>
      
  
      <!-- Bouton Exporter et Champ de Recherche -->
      <div class="d-flex align-items-center">
        <div class="search-container">
          <input
            type="text"
            placeholder="Rechercher..."
            [(ngModel)]="searchTerm"
            (input)="onSearch()"
          />
          <span class="search-icon">
            <i class="fa fa-search"></i>
          </span>
        </div>
      </div>
    </div>
  
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!-- Colonnes du tableau -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef class="small-column"> Reference </th>
        <td mat-cell *matCellDef="let element" class="small-column"> {{element.id}} </td>
      </ng-container>
  
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef class="small-column"> Date</th>
        <td mat-cell *matCellDef="let element" class="small-column"> {{element.date}} </td>
      </ng-container>
  
      <ng-container matColumnDef="montant">
        <th mat-header-cell *matHeaderCellDef class="small-column"> Montant </th>
        <td mat-cell *matCellDef="let element" class="small-column"> {{element.montant}} GNF </td>
      </ng-container>
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef class="small-column"> Type </th>
        <td mat-cell *matCellDef="let element" class="small-column"> {{element.type}} </td>
      </ng-container>
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef class="small-column"> Status </th>
        <td mat-cell *matCellDef="let element" class="small-column"> 
          {{element.status}}
         </td>
      </ng-container>
  
      <!-- <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef class="small-column" style="width: 20%;"> Status </th>
        <td mat-cell *matCellDef="let element" class="small-column" 
          style="display: flex; padding: 10px; justify-content: space-between; gap: 10px;">
          <div class="example-button-row">
            <a mat-flat-button style="background-color: white; color: white;" target="_blank">
              <td mat-cell *matCellDef="let element" class="small-column"> {{element.status}} </td>
            </a>
          </div>
        </td>
      </ng-container> -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <!-- Paginator -->
    <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>

